
* {
    box-sizing: border-box;
}
body {
    font-family: 'Vollkorn', sans-serif;
    border-top: 10px solid #3a3a3a;
    margin: 0;
    background-color: #0a0a0a;
    color: whitesmoke;
}
section {
    margin: 50px auto;
}
hr {
    border: none;
    border-bottom: 2px solid #3a3a3a;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 0;
}


header {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 40px;
}
header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

header h1 {
    font-weight: 900;
    padding: 0;
    margin: 20px;
    color: #FFFFFF;
    font-size: 1.7em;
    line-height: 0.5;
}

header p {
    line-height: 1.3;
    font-size: 2rem;
    padding: 0px 120px 0px 120px;
    margin-bottom: 60px;
}

header hr {
    background-color: black;
    height: 4px;
    border-top: none;
    border-bottom: 3px double #3a3a3a;
    border-left: none;
    border-right: none;
}

h2 {
    font-weight: 900;
    color: beige;
    font-size: 3em;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

h3 {
    font-weight: 400;
    color: yellow;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.4em;
}

main {
    padding: 0;
}

.worksContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 25px;
}

.worksContainer .articleBlock p {
    font-size: 0.9em;
    padding-right: 10px;
}

.worksContainer .articleBlock > img {
    width: 420px;
}

.articleBlock span {
    padding-bottom: 5px;
    display: block;
    font-size: 0.8em;
    color: #808080;
}


.photoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
}


.photoGrid .articleBlock:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 60%;
    width: 100%;
}

.photoGrid img {
    width: 100%;
}


.albumsGrid {
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.albumsGrid .articleBlock > img{
    height: 300px;
    width: 300px;
}

.albumsGrid .articleBlock {
    text-align: center;
    font-size: 1.4em;
}
.albumsGrid .articleBlock h3 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

a:link {
    color: yellow;
}
a:visited {
    color: yellow;
}
a:hover {
    color: grey;
}
a:active {
    color: brown;
}

.footerContainer{
    width: auto;
    font-size: 1.4em;
}

nav ul{
    list-style-type: none;
    display: inline-block;
}

nav li{
    float: left;
    padding: 20px;
}

#john{
    float: right;
    margin-left: 600px;
}

.gridItem:hover{
    background-color: #0a0a0a;
    opacity: 0.6;
    transition-duration: 300ms;
}
